<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_template.name %>
</p>

<p>
  <strong>Static data:</strong>
  <%= @event_template.static_data %>
</p>

<%= link_to 'Edit', edit_event_template_path(@event_template) %> |
<%= link_to 'Back', event_templates_path %>
