<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :device_type %>
    <%= form.text_field :device_type %>
  </div>

  <div class="field">
    <%= form.label :dev_eui %>
    <%= form.text_field :dev_eui %>
  </div>

  <div class="field">
    <%= label_tag :user_group %>
    <%= text_field_tag :user_group %>
  </div>

  <div class="field">
    <%= form.label :app_eui %>
    <%= form.text_field :app_eui %>
  </div>

  <div class="field">
    <%= form.label :app_key %>
    <%= form.text_field :app_key %>
  </div>

  <div class="field">
    <%= form.label :hw_version %>
    <%= form.text_field :hw_version %>
  </div>

  <div class="field">
    <%= form.label :fw_versioin %>
    <%= form.text_field :fw_versioin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
