<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :encrypted_password %>
    <%= form.text_field :encrypted_password %>
  </div>

  <div class="field">
    <%= label_tag :user_group %>
    <%= text_field_tag :user_group %>
  </div>

  <div class="field">
    <%= form.label :sign_in_count %>
    <%= form.number_field :sign_in_count %>
  </div>

  <div class="field">
    <%= form.label :is_admin %>
    <%= form.check_box :is_admin %>
  </div>

  <div class="field">
    <%= form.label :is_super_admin %>
    <%= form.check_box :is_super_admin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
