<p id="notice"><%= notice %></p>

<h1>Event Template Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Device type</th>
      <th>Channel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_template_lists.each do |event_template_list| %>
      <tr>
        <td><%= event_template_list.name %></td>
        <td><%= event_template_list.device_type %></td>
        <td><%= event_template_list.channel %></td>
        <td><%= link_to 'Show', event_template_list %></td>
        <td><%= link_to 'Edit', edit_event_template_list_path(event_template_list) %></td>
        <td><%= link_to 'Destroy', event_template_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Template List', new_event_template_list_path %>
