<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_template_list.name %>
</p>

<p>
  <strong>Device type:</strong>
  <%= @event_template_list.device_type %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @event_template_list.channel %>
</p>

<%= link_to 'Edit', edit_event_template_list_path(@event_template_list) %> |
<%= link_to 'Back', event_template_lists_path %>
